<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors"/>
    <meta name="generator" content="Hugo 0.88.1" />
    <title>Iniciar sesion</title>
    <link rel="shortcut icon" href="img/logoIco.png" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/signin.css" />
  </head>
  <body class="fondo"> <!--Aquí pongo una clase fondo pa ponerle la imagen-->
    <!-- este contenedor tiene el formulario del login -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 contenedor-form shadow-lg">
          <main class="form-signin">
            <form>
              <img
                class="img-fluid imgLogo"
                src="img/MELO_SALUD.png"
                alt="Logo"
              />
              <h1 class="h3 mb-3 fw-normal titulo">Por favor inicia sesión</h1>
    
              <div class="form-floating">
                <input
                  type="user"
                  class="form-control textbox-color"
                  id="user"
                  name="user"
                  placeholder="Usuario"
                  autocomplete="off"
                />
                <label for="floatingInput">Usuario</label>
              </div>
              <br />
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control textbox-color"
                  id="password"
                  placeholder="contrasena"
                />
                <label for="floatingPassword">Contrasena</label>
              </div>
              <br />
              <button class="w-100 btn btn-lg btn-primary btn-color" type="submit">
                Iniciar sesión
              </button>
              <p class="mt-5 mb-3 text-muted">Melo Salud &copy; 2021</p>
            </form>
            <br>
            <a href="/register" type="button" class="w-100 btn btn-lg btn-bd-primary">Registrarse</a>
          </main>
          </main>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <!-- cdn de sweetalert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(alert) { %>
      <script>
        Swal.fire({
          title: '<%= alertTitle %>',
          text:'<%= alertMessage %>',
          icon:'<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= timer %>
        }).then(()=>{
          window.location = '/<%= ruta %>'
        })
      </script>
    <% } %>
  </body>
</html>
